// override UK gov stylesheet, which uses the highly specific #global-header selector
#global-header.lr-header {
  background-color: white;
  color: $semi-black;

  .header-wrapper {
    background-color: white;
  }
}

#global-header .header-proposition #proposition-name.lr-header--proposition-name {
  color: $semi-black;
}

#global-header .header-proposition #proposition-links {
  .lr-header--header-proposition--a {
    color: $semi-black;
  }

  .lr-header--header-proposition--a__active {
    color: $semi-black;
  }

  .lr-header--header-proposition {
    color: $semi-black;
  }
}

#footer {
  margin-top: 3rem;

  .footer-meta .footer-meta-inner {
    width: 100% !important;
  }

  .footer-meta a {
    text-decoration: underline;
  }

  .footer-meta .footer-meta-inner .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    height: 100%;
  }

  .footer-meta .footer-meta-inner .open-government-licence .logo a {
    background-image: image-path('ogl-symbol-41px-black');
    display: block;
    width: 41px;
    height: 17px;
    overflow: hidden;
    text-indent: -999em;
  }

  .footer-meta .footer-meta-inner .open-government-licence p {
    margin: 0;
    padding-top: 0.1em;
  }
}

.panel {
  border: 0;
}

:focus, a:focus {
  outline: 2px solid $focus-colour !important;
}
