// override UK gov stylesheet, which uses the highly specific #global-header selector
#global-header.lr-header {
  background-color: white;
  color: $semi-black;

  .header-wrapper {
    background-color: white;
  }
}

#global-header .header-proposition #proposition-name.lr-header--proposition-name {
  color: $semi-black;
}

#global-header .header-proposition #proposition-links {
  .lr-header--header-proposition--a {
    color: $semi-black;
  }

  .lr-header--header-proposition--a__active {
    color: $semi-black;
  }

  .lr-header--header-proposition {
    color: $semi-black;
  }
}

#footer {
  margin-top: 3rem;

  .footer-wrapper {
    margin-inline:auto;
  }

  .footer-meta {
    .footer-meta-inner {
      width: 100% !important;

      .open-government-licence {
        padding-inline:unset;

        figure {
          display: flex;
          justify-content: space-between;
          align-items: top;
          gap: 1rem;
          a[rel="license"] {
            background: url(image-path('ogl-symbol-41px-black'));
            display: block;
            width: 41px;
            height: 17px;
            overflow: hidden;
            text-indent: -999em;
          }
          figcaption {
            flex: 1;
            a {
              background-image: none;
            }
            p {
              margin: 0;
              padding-top: 0.1em;
            }
          }
        }
      }
    }

    a {
      text-decoration: underline;
    }

  }
}

.panel {
  border: 0;
}

:focus, a:focus {
  outline: 2px solid $focus-colour !important;
}
