/*
 * Entry point stylesheet for both Sprockets and Propshaft-enabled apps.
 *
 * This file includes only LR Common Styles internal assets.
 * Host applications are responsible for importing framework dependencies:
 *   @import "govuk-template";
 *   @import "govuk-elements";
 *   @import "bootstrap-sprockets";
 *   @import "bootstrap";
 *   @import "font-awesome";
 *   @import "lr_common_styles";
 *
 * The asset paths for these dependencies are automatically registered by the engine,
 * so they will be discoverable when imported directly from host applications.
 */

// LR Common Styles partials
@import "lr_common_styles/common-elements";
@import "lr_common_styles/cookie-banner";
@import "lr_common_styles/header";
@import "lr_common_styles/footer";
@import "lr_common_styles/feedback";
@import "lr_common_styles/lr-common";

// Common global styles
@import "skip_to_main";

// Gem override stylesheets
@import "lr_common_styles/gov_uk_refine";
@import "lr_common_styles/bootstrap-refine";
